
<header class="header"> 
  <div class="container">
    <div class="header__wrap">
      <button class="header__menu-mobile"><i class="fa-solid fa-bars"></i></button>
      <div class="header__logo"><img class="box header__logo" src="../assets/images/Frame.svg"/><a href="index.html"></a></div>
      <nav class="header__menu">
        <ul>
          <li><a href="index.html"></a></li>
          <li><a href="#">Danh Mục</a></li>
          <li><a href="#">Giới Thiệu</a></li>
          <li><a href="#">Liên Hệ</a></li>
        </ul>
      </nav>
      <button class="header__search-mobile"><i class="fa-solid fa-magnifying-glass"></i></button>
      <form class="header__form" acton="#">
        <button><i class="fa-solid fa-magnifying-glass"></i></button>
        <input name="keyword" placeholder="Nhập từ khóa..."/>
      </form><a class="button" href="#">Tham Gia Cộng Đồng</a>
    </div>
  </div>
</header>