footer.footer
    .container
        .footer__top
            .footer__content Đăng ký ngay để không bỏ lỡ các chương trình của chúng tôi
            form.footer__form(action="")
                input(type="email" name="" placeholder="Nhập email của bạn...")
                button Đăng Ký Ngay
        .footer__middle
            nav.footer__middle-link
                ul
                    li
                        a(href="#") Trang Chủ
                    li
                        a(href="#") Danh Mục
                    li
                        a(href="#") Giới Thiệu
                    li
                        a(href="#") Liên Hệ

            nav.footer__socials
                ul
                    li
                        a(href="#" target="_blank")
                            i(class="fa-brands fa-facebook")
                    li
                        a(href="#" target="_blank")
                            i(class="fa-brands fa-twitter")
                    li
                        a(href="#" target="_blank")
                            i(class="fa-brands fa-instagram")
                    li
                        a(href="#" target="_blank")
                            i(class="fa-brands fa-youtube")

        .footer__bottom
            .footer__copyright © 2024 Lê Cát Khánh. All rights reserved.
            .footer__logo
                a(href="index.html")
                    img(src="assets/images/Frame.svg" alt="")
            nav.footer__bottom-link
                ul
                    li
                        a(href="#") Điều khoản dịch vụ
                    <li>
                        a(href="#") Chính sách bảo mật