<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
    <link rel="stylesheet" href="../assets/css/style.css">
  </head>
  <body>
    <header class="header"> 
      <div class="container">
        <div class="header__wrap">
          <button class="header__menu-mobile"><i class="fa-solid fa-bars"></i></button>
          <div class="header__logo"><img class="box header__logo" src="../assets/images/Frame.svg"><a href="index.html"></a></div>
          <nav class="header__menu">
            <ul>
              <li><a href="index.html"></a></li>
              <li><a href="#">Danh Mục</a></li>
              <li><a href="#">Giới Thiệu</a></li>
              <li><a href="#">Liên Hệ</a></li>
            </ul>
          </nav>
          <button class="header__search-mobile"><i class="fa-solid fa-magnifying-glass"></i></button>
          <form class="header__form" acton="#">
            <button><i class="fa-solid fa-magnifying-glass"></i></button>
            <input name="keyword" placeholder="Nhập từ khóa...">
          </form><a class="button" href="#">Tham Gia Cộng Đồng</a>
        </div>
      </div>
    </header>
    <footer class="footer">
      <div class="container">
        <div class="footer__top">
          <div class="footer__content">Đăng ký ngay để không bỏ lỡ các chương trình của chúng tôi</div>
          <form class="footer__form" action="">
            <input type="email" name="" placeholder="Nhập email của bạn...">
            <button>Đăng Ký Ngay</button>
          </form>
        </div>
        <div class="footer__middle">
          <nav class="footer__middle-link">
            <ul>
              <li><a href="#">Trang Chủ</a></li>
              <li><a href="#">Danh Mục</a></li>
              <li><a href="#">Giới Thiệu</a></li>
              <li><a href="#">Liên Hệ</a></li>
            </ul>
          </nav>
          <nav class="footer__socials">
            <ul>
              <li><a href="#" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
              <li><a href="#" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
              <li><a href="#" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
              <li><a href="#" target="_blank"><i class="fa-brands fa-youtube"></i></a></li>
            </ul>
          </nav>
        </div>
        <div class="footer__bottom">
          <div class="footer__copyright">© 2024 Lê Cát Khánh. All rights reserved.</div>
          <div class="footer__logo"><a href="index.html"><img src="./assets/images/Frame.svg" alt=""></a></div>
          <nav class="footer__bottom-link">
            <ul>
              <li><a href="#">Điều khoản dịch vụ</a></li><li><a href="#">Chính sách bảo mật</a>
            </ul>
          </nav>
        </div>
      </div>
    </footer>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="../assets/js/script.js"></script>
  </body>
</html>